


.imgnotfound {
  padding-top:8em;
  width: 50%;
  height: 30%;
  justify-content: center;
}

.divfound {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


 .buttonnotfound {
 background-color: #EB9235;
 color: white;
} 